aws_region         = "ap-south-1"
environment        = "dev"
cluster_name       = "demo-eks-cluster"
cluster_version    = "1.30"
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["ap-south-1a", "ap-south-1b"]

public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.10.0/24", "10.0.20.0/24"]

node_group_name = "demo-node-group"
instance_types  = ["t3.medium"]
desired_size    = 2
min_size        = 1
max_size        = 4
